/* ------- Header de la pagina ------- */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.titulo {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 45px;
	color: #fff;
}

/* ------- Fin del header de la pagina ------- */

/* ------- Modificaciones a la navbar ------- */

.navbar {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	background-color: rgba(42, 44, 57, 0.9);
}

.nav-link:hover {
	transition: 0.7s;
}

/* ------- Main de la pagina ------- */

main {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif; }

.seccion__main {
	background-color: rgba(42, 44, 57, 0.9);
	background: rgba(42, 44, 57, 0.9);
	padding-top: 250px;
}

.content-center {
	max-width: 100%;
	margin: 0 auto 60px auto;
	text-align: center;
}

.contamoscon {
	background-color: #fff;
}

.entrada {
	font-family: 'Open Sans', sans-serif;
	font-size: 70px;
	font-weight: 900;
	margin-bottom: 25px;
	color: #fff;
}

.entrada__subtitulo {
	font-size: 24px;
	margin-top: 0;
	font-weight: 100;
}

.subTitulo {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Poppins', sans-serif;
	font-size: 80px;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin-bottom: 250px;
}

.puntos {
	display: block;
	margin: 10px auto;
}

.contenidoPuntos {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 30px;
	margin: 35px 0 35px 0;
}

.seccion {
	background: #fff;
}

/* ------- Fin del main de la pagina ------- */

/* ------- Footer de la pagina ------- */

footer {
	box-sizing: border-box;
}

#footer {
	background: #14151c;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding: 30px 0;
}

.footer__home {
	margin-top: 150px;
}

.social__media {
	width: 55px;
	height: 55px;
	margin: 25px 20px 25px 20px;
}

/* ------- Fin del footer de la pagina ------- */

/* ------- Productos ------- */

.ventas {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 33% 33% 33%;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 600px;
	row-gap: 200px;
	background: #fff;
}

.tiendaH2 {
	font-size: 55px;
	text-align: center;
	margin-top: 200px;
	font-family: 'Titillium Web', sans-serif;
}

.ola {
	margin-top: 350px;
	position: relative;
}

.venta {
	width: 300px;
	height: 275px;
}

.venta:hover {
	transition: 1s;
	transform: scale(1.25);
}

.mainH2 {
	background: #fff;
	padding-bottom: 85px;
	font-size: 30px;
	text-align: center;
	font-family: "Roboto";
}

/* ---- Pagina Contacto ----*/

.seccion__contact {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	height: 400px;
	text-align: center;
	margin-top: 300px;
}

.seccion__contact--titule {
	color: #fff;
	font-size: 60px;
}

.seccion__form {
	width: 100%;
}

.bg__form {
	background-color: #fff;
}